* {
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto; 
    padding: 20px;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgba(0,255,55,1) 0%, rgba(42,181,163,1) 50%, rgba(252,70,107,1) 100%);
}

button {
    border-radius: 10px;
}

#containerAll {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 20px;
    margin: 0 auto;

}

#personnagePrincipal, #monstreChoisi, #containerCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
}

#personnagePrincipal, #monstreChoisi {
    flex: 1;
}

#combat {
    width: 80%;
}

#pseudoPersonnagePrincipal, #pseudoMonstreChoisi {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    margin-bottom: 10px;
    color: blue;
}

#containerButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#containerChoix {
    text-align: center;
    padding: 15px;
    margin: 20px;
    width: 550px;
    color: blue;
    background-color: silver;
    font-weight: bold;
    font-size: large;
    border: 2px solid black;
    border-radius: 10px;
}

form {
    text-align: center;
    padding: 40px;
    background-color: silver;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

form p {
    font-size: 2em;
    color: blue;
    font-weight: bold;
}

.validerPseudo {
    display: block;
    margin: 30px auto;
    background: black;
    color: silver;
    font-weight: bold;
}


.button {
    padding: 15px 25px;
    margin: 10px;
    color: silver;
    background-color: black;
    font-weight: bold;
}

.containerGuerrier {
    background-image: url(images/guerrier.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
}

.guerrier {
    background-image: url(images/guerrier.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;     
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.containerMage {
    background-image: url(images/mage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
}
.mage {
    background-image: url(images/mage.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;     
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.containerArcher {
    background-image: url(images/archer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 10px;
}

.archer {
    background-image: url(images/archer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;     
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.Slime {
    background-image: url(images/slime.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;     
    width: 200px;
    height: 300px;
    overflow: hidden;
}
#Slime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Loup-Garou {
    background-image: url(images/loupGarou.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;    
    width: 200px;
    height: 300px;
}
#Loup-Garou { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.Dragon {
    background-image: url(images/dragon.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;    
    width: 200px;
    height: 300px;
}

#Dragon {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.deroulementCombat {
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
}

#containerMessageFin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

